
$darkgrey: var(--darkgrey);
$grey: var(--grey);
$lightgrey: var(--lightgrey);

$white: var(--white);
$darkwhite: var(--darkwhite);

$lightblack: var(--lightblack);
$black: var(--black);
$darkblack: var(--darkblack);

$lightblue: var(--lightblue);
$blue: var(--blue);
$darkblue: var(--darkblue);

$transparent: var(--transparent);
$inherit: var(--inherit);