$darkgrey: var(#272727);
$grey: var(#E0E0E0);
$lightgrey: var(#F2F2F2);
$white: var(#fff);
$black: var(#000);
$red: var(--red);
$lightblue: var(--lightblue);
$blue: var(#0154D4);
$darkblue: var(#0147B4);
$green: var(--green);
$orange: var(--orange);
$transparent: var(--transparent);
$inherit: var(--inherit);